<nav class="w-full flex justify-between items-center p-1 bg-indigo-500 shadow-lg fixed top-0 z-10">
  <!-- Logo Section -->
  <div class="logo">
    <span class="text-gray-200 text-3xl flex justify-start items-center">QC-P</span>
  </div>

  <!-- Hamburger Icon for Small Screens -->
  <button class="text-gray-200 text-2xl lg:hidden" (click)="isMenuOpen = !isMenuOpen">
    &#9776; <!-- Hamburger icon -->
  </button>

  <!-- Menu Items for Large Screens & Toggle for Small Screens -->
  <div class="nav-items lg:flex" [ngClass]="{ 'hidden': !isMenuOpen }">
    <ng-container *ngIf="isLoggedIn">
      
        <span *ngIf="isAdmin" routerLink="/laborer-view"
          class="text-l cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Laborer
          View</span>
        <span *ngIf="isAdmin" routerLink="/home"
          class="text-l cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Home</span>
        <span *ngIf="isAdmin" routerLink="/task-assign"
          class="text-l cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Assign
          Tasks</span>
        <span *ngIf="isAdmin" (click)="navigateToAdminRegister()"
          class="text-l cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Staff
          Registration</span>
      
      <span routerLink="/login" (click)="logout()"
        class="text-l cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Logout</span>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
      <span routerLink="/login"
        class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Login</span>
      <span routerLink="/register"
        class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Register</span>
    </ng-container>
  </div>
</nav>